<form action="{{ action_link }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="mc-embedded-subscribe-form">
  <input type="email" value="" placeholder="{{ placeholder }}" name="EMAIL" id="mail" class="input-group-field" required>
  <button type="submit" class="btn btn--secondary btn-xs--sm" name="subscribe"><span class="fa fa-envelope-o"></span></button>
</form>