<div class="container">
  <div class="empty-page-content text-center">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <p>
      <a href="/" class="btn">{{ 'general.404.link' | t }} <i class="fa fa-angle-right"></i></a>
    </p>
  </div>
</div>
